div.display {
    display: grid;
    
    flex: 1;
    background-color: var(--color-3);
}
 
div#queue {
    position: fixed;
    display: grid;
    width: fit-content;
    height: fit-content;
    background-color: var(--color-26);
    margin-top: 53px;
    padding: 2%;
    border-radius: 15%;
}

div#queue > h2 {
    justify-self: center;
}