div.display {
    display: grid;
    
    flex: 1;
    background-color: var(--color-3);
}

div.display > div#header {
    background-color: var(--color-5);
    width: 100vw;
    height: fit-content;
    padding: 16px;
}