div.display {
    display: grid; 

    grid-template-columns: 0.6fr 1.2fr 1fr;
    grid-template-rows: 0.1fr 2.1fr;
    gap: 0px 0px; 
    grid-template-areas: 
      "Header Header Header"
      "Queue SearchRes SearchRes"; 
    flex: 1;
    background-color: var(--color-3);
    overflow-y: auto;
    overflow-x: clip;
}


.playing {
  background-color: var(--color-15);
}