div.display > div#header {
    display: flex;
    width: 100vw;
    height: fit-content;

    background-color: var(--color-2);
    padding: 16px;
    justify-content: space-around;
    grid-area: Header;
}

div#header > input#search {
    display: block;
    width: 25%;

    caret-color: var(--color-25);
    color: var(--color-27);
    border: 2px solid var(--color-25);
    background-color: var(--color-26);
    transition: 250ms;
    height: 32px;
    margin-top: 16px;
}

input#search::placeholder {
    color: var(--color-27);
}

input#search:focus {
    outline: var(--color-27) 2px solid;
    scale: 1.2;
    transition: 250ms;
}


div#disks-container {
    width: 64px;
    height: 64px;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/IMG/cd.png);
}

div#disk_div {
    width: fit-content;
    height: fit-content;
    padding: 16px;

    background-color: white;
}

div.track {
    width: fit-content;
    height: fit-content;

    background-color: var(--color-26);
    padding: 8px;
    border-radius: 5%;
}

.plus {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/IMG/plus.png);
    margin-top: 5%; 
    margin-left: auto;
}