<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music player</title>
    <link rel="shortcut icon" href="/IMG/favicon.png">
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/player_bar.css">
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/display.css">
    <link rel="stylesheet" href="/CSS/search.css">
    <link rel="stylesheet" href="/CSS/queue.css">

    <script src="/JS/music.js" defer></script>
    <script src="/JS/queue-item.js" defer></script>
</head>
<body>
    <div class="display">
        <div id="header">
            <input type="text" id="search" placeholder="Search for a song">
        </div>
        <div id="queue">
            <h2>Queue</h2>
        </div>
        <div id="searchRes">
            This is a silly test
        </div>
    </div>
    <div class="player_bar">
        <div class="shadow"></div>
        <div class="player_gui">
            <div class="left squishy_button"></div>
            <div id="playToggle" class="squishy_button"></div>
            <div class="right squishy_button"></div>
        </div>
    </div>
</body>
</html>